{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Discussion board built with Twitter Bootstrap using just a few lines of CSS code.
">
	<meta name="robots" content="noindex, nofollow">
	<title>snipplicious - preview</title>

	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/a71c3b4afb.js" %}"></script>

	<script type="text/javascript">
		var infolinks_pid = 2113816;
		var infolinks_wsid = 1;
	</script>
	<script type="text/javascript" src="{% static "js/infolinks_main.js" %}"></script>

	<style>
		.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}
.table tbody>tr>td{
    vertical-align: center;
}
.right {
    border-right: 2px solid #FFFFFF;
}
.left {
    border-left: 2px solid #FFFFFF;
}

	</style>
</head>
<body>
<script type="text/javascript">
	( function() {
		if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
		var unit = {"calltype":"async[2]","publisher":"werewolfrex","width":728,"height":90,"sid":"Chitika Default"};
		var placement_id = window.CHITIKA.units.length;
		window.CHITIKA.units.push(unit);
		document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
	}());
</script>
<script type="text/javascript" src="{% static "js/getads.js" %}" async></script>

{%block base%}
{%endblock base%}
</html>
