{% extends 'forum/base.html' %}
{% load static %}

{% block content %}
<thead>
  <tr>
    <th class="cell-stat"></th>
    <th>
      <h3>Questions and Comments</h3>
    </th>
    <th class="cell-stat text-center hidden-xs hidden-sm">Votes</th>
  </tr>
</thead>
{% if latest_post_list %}
    {% for post in latest_post_list %}
      <tr>
        <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
        <td>
          <h4><a href="#">{{post.title}}</a><br><small>{{post.description}}</small></h4>
        </td>
        <td class="text-center hidden-xs hidden-sm" id="{{post.id}}"><a href="#">{{ post.votes }}</a></td>
        <td class="vert-align"> <span class="btn btn-primary likes-button btn-xs" type="button" data-postid="{{post.id}}">like</span>
        </td>
        <td class="hidden-xs hidden-sm"> <small><i class="fa fa-clock-o"></i>{{post.created}}</small></td>
      </tr>
      <tr>
    {% endfor %}
    <script src="{% static "js/rango-ajax.js" %}"></script>
  {% else %}
      <p>No post are available.</p>
  {% endif %}
    <form  method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary likes-button btn-xl" type="submit" name="newpost" value="Submit" />
  </form>
{% endblock content %}
